@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
.arcana {
  background-color: #4E276A;
  color: white;
}

.blade {
  background-color: #96352C;
  color: white;
}

.bone {
  background-color: #666769;
  color: white;
}

.codex {
  background-color: #1F335F;
  color: white;
}

.grace {
  background-color: #7A3662;
  color: white;
}

.midnight {
  background-color: #333439;
  color: white;
}

.sage {
  background-color: #0C6B41;
  color: white;
}

.splendor {
  background-color: #AF9F40;
  color: white;
}

.valor {
  background-color: #B97A23;
  color: white;
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.panel {
  background: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2705882353);
}
.panel-mb {
  margin-bottom: 0.5em;
}
.panel-header {
  padding: 0.25em 0.5em;
  background-color: #1e3a8a;
  color: white;
  margin-top: 0px !important;
}
.panel-body {
  padding: 0.5em;
}

.flex-grow {
  flex-grow: 1;
}
.flex-grow select {
  width: 100%;
}

.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vtt {
  flex-direction: column;
}

.dialog .choice-dialog-wrap {
  margin-bottom: 0.5em;
}
.dialog .window-content {
  background: none;
  background-color: #d9d9d9 !important;
}
.dialog .choice-dialog {
  background: white;
}
.dialog .choice-options {
  padding: 0.25em;
}
.dialog .choice-dialog-select-one {
  font-size: 16px;
  font-weight: bold;
  background: black;
  padding: 0.25em;
  color: white;
}

.daggerheart-ui-hand {
  width: 100% !important;
  overflow-y: hidden;
  overflow-x: scroll;
}
.daggerheart-ui-hand .ui-cards {
  width: max-content !important;
  display: flex;
  height: 100%;
}
.daggerheart-ui-hand .ui-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 150px;
  background-color: white;
  margin: 0.5em;
  border-radius: 0.5em;
}
.daggerheart-ui-hand .ui-card:hover .ui-card-tooltip {
  visibility: visible;
}
.daggerheart-ui-hand .ui-card-image {
  height: 50px;
  flex-grow: 1;
  object-fit: cover;
  object-position: 25% 35%;
  border-radius: 0.5em 0.5em 0 0;
}
.daggerheart-ui-hand .ui-card-tooltip {
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  height: 100%;
  padding: 0.5em;
  width: 100%;
  overflow: scroll;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.daggerheart-ui-hand .ui-card-name {
  background-color: #334155;
  color: #fff;
  padding: 0.25em;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.daggerheart-ui-hand .ui-card-domain {
  background-color: #eab308;
  text-align: center;
  font-weight: bold;
  padding: 0.25em;
  text-transform: uppercase;
}

.domain-pill {
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  font-weight: lighter;
  border-radius: 0.25em;
}

/* Styles limited to daggerheart sheets */
.daggerheart {
  /* Style the accordion panel. Note: hidden by default */
}
.daggerheart .item-form {
  font-family: "Roboto", sans-serif;
}
.daggerheart .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.daggerheart .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.daggerheart .sheet-header .header-fields {
  flex: 1;
}
.daggerheart .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.daggerheart .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.daggerheart .sheet-tabs {
  flex: 0;
}
.daggerheart .sheet-body,
.daggerheart .sheet-body .tab,
.daggerheart .sheet-body .tab .editor {
  height: 100%;
}
.daggerheart .tox .tox-editor-container {
  background: #fff;
}
.daggerheart .tox .tox-edit-area {
  padding: 0 8px;
}
.daggerheart .resource-label {
  font-weight: bold;
}
.daggerheart .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.daggerheart .items-header > * {
  font-size: 14px;
  text-align: center;
}
.daggerheart .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.daggerheart .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.daggerheart .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.daggerheart .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.daggerheart .items-list .item-name h3,
.daggerheart .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.daggerheart .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.daggerheart .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.daggerheart .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.daggerheart .items-list .item:last-child {
  border-bottom: none;
}
.daggerheart .items-list .item .item-name {
  color: #191813;
}
.daggerheart .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.daggerheart .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.daggerheart .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.daggerheart .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.daggerheart .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.daggerheart .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.daggerheart .inventory-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  background-color: white;
  margin-bottom: 0.5em;
}
.daggerheart .inventory-item-name {
  font-weight: bold;
  font-size: 16px;
}
.daggerheart .inventory-left {
  display: flex;
  align-items: center;
}
.daggerheart .inventory-left img {
  margin-right: 0.5em;
  background: linear-gradient(180deg, rgb(27, 26, 26) 0%, rgb(27, 26, 26) 50%, rgb(42, 43, 46) 100%);
}
.daggerheart .inventory-right {
  display: flex;
  gap: 0.5em;
}
.daggerheart .domain-stats {
  display: grid;
  grid: 1fr/3fr 1fr 50px;
}
.daggerheart .domain-stats select {
  width: 100%;
}
.daggerheart .effects .item .effect-source,
.daggerheart .effects .item .effect-duration,
.daggerheart .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.daggerheart .effects .item .effect-controls {
  border: none;
}
.daggerheart .class-sheet-header .class-img {
  height: 100px;
  object-fit: contain;
  object-position: 100% 0;
}
.daggerheart .class-sheet .question-text, .daggerheart .class-sheet .connection-text {
  margin-bottom: 0.5em;
}
.daggerheart .class-sheet .domains-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.daggerheart .class-sheet-input-group {
  justify-items: center;
  display: grid;
  align-items: center;
  margin-bottom: 0.5em;
}
.daggerheart .class-sheet-domain-list {
  justify-self: start;
  display: flex;
  gap: 1em;
}
.daggerheart .class-sheet-domain-list-item {
  display: flex;
  align-items: center;
  gap: 0.25em;
}
.daggerheart .class-sheet .hitpoints-stats .combat-stat-item {
  width: 25%;
}
.daggerheart .class-sheet select {
  color: #fff;
  background-color: #f43f5e;
  border: none;
  box-shadow: none !important;
}
.daggerheart .class-sheet select option {
  color: black;
}
.daggerheart .class-sheet .delete-domain:hover {
  cursor: pointer;
  color: #f43f5e;
}
.daggerheart .class-sheet .examples {
  display: grid;
}
.daggerheart .class-sheet .examples .tox-toolbar__group button:not(button[aria-label=Save]) {
  display: none;
}
.daggerheart .questions .question input,
.daggerheart .questions .connection input,
.daggerheart .connections .question input,
.daggerheart .connections .connection input {
  border: none;
  border-bottom: 1px solid #334155;
  margin-bottom: 0.5em;
  box-shadow: none;
}
.daggerheart .questions .question label,
.daggerheart .questions .connection label,
.daggerheart .connections .question label,
.daggerheart .connections .connection label {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.daggerheart .question-add,
.daggerheart .question-remove {
  padding: 0.25em;
}
.daggerheart .item-display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.daggerheart .item-display-flex h2 {
  border: none;
  margin: 0;
  flex-grow: 1;
}
.daggerheart .top-header {
  display: flex;
  gap: 1em;
}
.daggerheart .class-sheet-header-fields {
  flex-grow: 1;
}
.daggerheart .class-sheet-header-fields input {
  font-size: 2em;
  height: 100%;
}
.daggerheart .edit-mode-change {
  display: flex;
  gap: 0.25em;
  align-items: center;
  font-size: 1em;
}
.daggerheart .edit-mode-change label {
  font-weight: normal;
  font-size: 1em;
}
.daggerheart .edit-mode-change input {
  height: 18px;
}
.daggerheart .class-sheet-body .editor {
  height: 150px !important;
}
.daggerheart .leveling .header {
  grid-column: span 3;
  display: grid;
  grid: 1fr/repeat(3, 1fr);
}
.daggerheart .leveling-section {
  margin-top: 0.3em;
}
.daggerheart .leveling .add-tier {
  font-size: 12px;
  margin: 0.4em;
  padding: 0.4em;
  background-color: #f43f5e;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}
.daggerheart .leveling .tier {
  border-right: 1px solid #334155;
  background-color: #fff;
}
.daggerheart .leveling .tier-header {
  text-align: center;
}
.daggerheart .leveling .tier-level {
  font-size: 14px;
}
.daggerheart .leveling .tier-input {
  flex-grow: 1;
}
.daggerheart .leveling .tier-option {
  display: flex;
  justify-content: space-between;
  padding: 0.25em;
  gap: 0.5em;
  align-items: center;
}
.daggerheart .leveling .tier-bonus {
  font-size: 12px;
  flex-grow: 1;
}
.daggerheart .item-to-get-list-item {
  background-color: white;
  padding: 0.5em;
  margin-bottom: 0.5em;
  gap: 0.5em;
}
.daggerheart .item-to-get-list-item input {
  flex-grow: 1;
}
.daggerheart .starting-items {
  display: grid;
  grid: 1fr/repeat(3, 1fr);
  margin-bottom: 0.5em;
  gap: 1em;
  text-transform: uppercase;
}
.daggerheart .starting-items div {
  padding: 0.5em;
  background: linear-gradient(180deg, rgb(27, 26, 26) 0%, rgb(27, 26, 26) 50%, rgb(42, 43, 46) 100%);
  color: white;
}
.daggerheart .starting-gold-class {
  background-color: #362178;
  display: flex;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
.daggerheart .starting-gold-class label {
  flex-grow: 1;
  font-size: 1em;
  color: white;
  font-weight: bold;
}
.daggerheart .starting-gold-class input {
  text-align: center;
  width: 40px;
}
.daggerheart .exp {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0.25em 0;
}
.daggerheart .exp-delete {
  flex-basis: 5%;
  text-align: center;
}
.daggerheart .leveling-option {
  display: flex;
  align-items: center;
  font-size: 12px;
  background-color: white;
  padding: 0.5em;
}
.daggerheart .leveling-options {
  display: grid;
  grid: 1fr/repeat(2, 1fr);
  gap: 0.5em;
}
.daggerheart .leveling-tier-description {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}
.daggerheart .leveling-bonus {
  font-size: 10px;
  text-transform: uppercase;
}
.daggerheart .weapon-form {
  padding: 0.5em;
}
.daggerheart .weapon-input-group {
  margin-bottom: 0.5em;
}
.daggerheart .weapon-input-group-flex {
  display: flex;
  gap: 1em;
}
.daggerheart .weapon-grid {
  display: grid;
  grid: 1fr/100px 1fr;
  gap: 0.5em;
}
.daggerheart .weapon-header {
  background-color: white;
  padding: 0.5em;
}
.daggerheart .equipped .weapon-main-ability {
  text-transform: uppercase;
}
.daggerheart .weapon-list-inventory-item {
  margin: 0.5em 0;
}
.daggerheart .weapon-main {
  display: flex;
  gap: 0.5em;
}
.daggerheart .weapon-attributes {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}
.daggerheart .equipped-wrapper {
  margin-bottom: 0.5em;
}
.daggerheart .weapon-main-name {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: bold;
}
.daggerheart .weapon-description {
  color: white;
  background: linear-gradient(180deg, rgb(27, 26, 26) 0%, rgb(27, 26, 26) 50%, rgb(42, 43, 46) 100%);
}
.daggerheart .weapon-description * {
  padding: 0.25em;
  margin: 0px;
}
.daggerheart .weapon-main-description {
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  padding-bottom: 0.25em;
}
.daggerheart .weapon-main-ability, .daggerheart .weapon-main-damage, .daggerheart .equipped-hit, .daggerheart .equipped-damage {
  font-size: 12px;
  text-transform: capitalize;
  padding: 0.5em;
  font-weight: bold;
  border: 1px solid black;
  margin-right: 0.5em;
  cursor: pointer;
  transition: 0.2s;
}
.daggerheart .weapon-main-ability:hover, .daggerheart .weapon-main-damage:hover, .daggerheart .equipped-hit:hover, .daggerheart .equipped-damage:hover {
  background-color: black;
  background: linear-gradient(180deg, rgb(27, 26, 26) 0%, rgb(27, 26, 26) 50%, rgb(42, 43, 46) 100%);
  color: white;
}
.daggerheart .weapon-options {
  display: flex;
  gap: 0.25em;
  align-items: center;
}
.daggerheart .weapon-equip, .daggerheart .armor-equip {
  border: 1px solid #3f6212;
  color: #3f6212;
}
.daggerheart .weapon-equip:hover, .daggerheart .armor-equip:hover {
  color: white;
  background-color: #3f6212;
}
.daggerheart .weapon-unequip, .daggerheart .armor-unequip {
  border: 1px solid #f43f5e;
  color: #f43f5e;
}
.daggerheart .weapon-unequip:hover, .daggerheart .armor-unequip:hover {
  color: white;
  background-color: #f43f5e;
}
.daggerheart .equipped-main {
  display: flex;
  align-items: center;
}
.daggerheart .equipped-img img {
  height: 30px;
  margin-right: 0.5em;
  background: linear-gradient(180deg, rgb(27, 26, 26) 0%, rgb(27, 26, 26) 50%, rgb(42, 43, 46) 100%);
}
.daggerheart .equipped-feature {
  background: #362178;
  padding: 0.25em;
  padding-left: 0.5em;
  font-size: 12px;
  font-weight: 300;
  color: white;
}
.daggerheart .equipped-feature p {
  display: inline;
}
.daggerheart .weapon-equip,
.daggerheart .weapon-unequip, .daggerheart .armor-equip, .daggerheart .armor-unequip {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.25em 0.5em;
  transition: background-color 0.2s;
  cursor: pointer;
  text-align: center;
  margin: 0px 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0.5em;
}
.daggerheart .weapon-equip:hover,
.daggerheart .weapon-unequip:hover, .daggerheart .armor-equip:hover, .daggerheart .armor-unequip:hover {
  text-shadow: none;
}
.daggerheart .equipped {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  background-color: white;
}
.daggerheart .equipped-name {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.daggerheart .enemy-hp input,
.daggerheart .enemy-stress input,
.daggerheart .enemy-hitpoints input {
  width: 50px;
  text-align: center;
}
.daggerheart .enemy-label {
  width: 70px;
  text-transform: uppercase;
  font-size: 16px;
}
.daggerheart .enemy-hp,
.daggerheart .enemy-stress,
.daggerheart .enemy-hitpoints {
  display: grid;
  grid: 1fr/20% 50px 50px 50px;
  gap: 0.5em;
  align-items: center;
}
.daggerheart .enemy-header {
  display: grid;
  grid: 100px 1fr/100px 1fr;
  gap: 1em;
}
.daggerheart .enemy-header-description {
  grid-row: span 2;
}
.daggerheart .enemy-type select {
  width: 99%;
}
.daggerheart .enemy-name {
  margin-bottom: 0.5em;
}
.daggerheart .enemy-name-input {
  height: 100%;
  font-size: 1.5em;
}
.daggerheart .adversary label {
  font-size: 14px;
}
.daggerheart .adversary h3 {
  font-size: 18px;
}
.daggerheart .enemy-wrap {
  display: grid;
  grid: 1fr/2fr 3fr;
  gap: 0.5em;
}
.daggerheart .enemy-wrap .enemy-left {
  font-size: 16px;
  text-transform: capitalize;
}
.daggerheart .enemy-wrap .enemy-left label {
  font-size: 16px !important;
}
.daggerheart .enemy-tactics {
  margin-bottom: 0.5em;
}
.daggerheart .enemy-weapon-stats {
  gap: 0.25em;
}
.daggerheart .feature-item {
  padding: 0.25em;
  margin-bottom: 0.5em;
}
.daggerheart .enemy-experience {
  gap: 0.25em;
  margin-bottom: 0.25em;
}
.daggerheart .enemy-experience .enemy-experience-name {
  flex-grow: 1;
}
.daggerheart .view-mode {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.daggerheart .enemy-header-split {
  display: grid;
  grid: 1fr/3fr 1fr;
}
.daggerheart .gm-rolls .roll-button {
  border: 2px solid black;
  padding: 0.5em;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  background: transparent;
  color: black;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
}
.daggerheart .gm-rolls .roll-button .fa-dice-d20 {
  margin-top: 1px;
  margin-left: 2px;
}
.daggerheart .gm-rolls .roll-button:hover {
  background: linear-gradient(180deg, rgb(27, 26, 26) 0%, rgb(27, 26, 26) 50%, rgb(42, 43, 46) 100%);
  color: white;
}
.daggerheart .gm-sheet .gm-resource {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
}
.daggerheart .gm-sheet label {
  font-size: 1.5em;
}
.daggerheart .gm-sheet input {
  width: 100px;
  text-align: center;
  height: 100%;
  font-size: 1.5em;
  position: relative;
}
.daggerheart .gm-sheet .incremental {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.daggerheart *:not(i) {
  font-family: "Oswald", sans-serif;
}
.daggerheart .proficiency {
  display: flex;
  gap: 0.5em;
  justify-content: end;
  align-items: CENTER;
}
.daggerheart.actor nav.sheet-tabs {
  position: relative;
  color: white;
  border: none;
}
.daggerheart.actor nav.sheet-tabs:after {
  border: 1px solid #F1C770;
  content: " ";
  position: absolute;
  width: 100%;
  top: 44%;
  z-index: 1;
}
.daggerheart.actor nav.sheet-tabs .item {
  position: relative;
  z-index: 2;
  background: linear-gradient(180deg, rgb(27, 26, 26) 0%, rgb(27, 26, 26) 50%, rgb(42, 43, 46) 100%) !important;
  background-color: #1B1A1A;
  border: 2px solid #f1c770;
}
.daggerheart.actor nav.sheet-tabs .item:hover {
  text-shadow: none;
  background: #383838;
  background-color: #383838;
}
.daggerheart.actor nav.sheet-tabs .item.active {
  background: #362178 !important;
  box-shadow: none;
  text-shadow: none;
  color: #F1C770;
}
.daggerheart .accordion {
  cursor: pointer;
  z-index: 10;
  position: relative;
}
.daggerheart .accordion:after {
  font-family: "Font Awesome 6 Pro";
  content: "\f0da";
}
.daggerheart .accordion.active:after {
  font-family: "Font Awesome 6 Pro";
  content: "\f0d7";
}
.daggerheart .accordion-content {
  display: none;
  overflow: hidden;
  padding: 0em 0.25em;
}
.daggerheart .accordion-content.active {
  display: block;
}
.daggerheart input, .daggerheart textarea, .daggerheart select {
  border: 1px solid #d1d5db;
  background-color: #f3f4f6;
}
.daggerheart input:focus, .daggerheart textarea:focus, .daggerheart select:focus {
  box-shadow: 0 0 0px 1px #6b7280 !important;
}
.daggerheart .time-to-roll {
  cursor: pointer;
  flex: 4;
  height: 26px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  margin-right: 5px;
  background: linear-gradient(180deg, rgb(27, 26, 26) 0%, rgb(27, 26, 26) 50%, rgb(42, 43, 46) 100%);
  background-color: #1B1A1A;
  transition: background-color 100ms linear;
  color: #fff;
}
.daggerheart .time-to-roll:hover {
  background: #383838;
}
.daggerheart .short-input {
  width: 30%;
  text-align: center;
}
.daggerheart .side-label {
  height: 100%;
  align-items: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.daggerheart .side-label.rose {
  background-color: #f43f5e;
  color: #fff;
}
.daggerheart .char-sheet-description .editor {
  height: 230px !important;
  border: none !important;
}
.daggerheart .char-sheet-description .editor-content {
  border: none !important;
}
.daggerheart .img-wrap,
.daggerheart .profile-img {
  background: linear-gradient(180deg, rgb(27, 26, 26) 0%, rgb(27, 26, 26) 50%, rgb(42, 43, 46) 100%);
  border: 2px solid #F1C770;
  width: 100px;
}
.daggerheart .editor-wrap .editor-edit {
  display: block !important;
}
.daggerheart .editor-wrap .editor {
  width: 100%;
  height: 150px;
}
.daggerheart .card-delete-option {
  color: #f43f5e;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.1em;
  transition: 0.4s;
}
.daggerheart .card-delete-option:hover {
  background-color: #f43f5e;
  color: white;
}
.daggerheart .item-display {
  color: white;
  background: #222;
  display: flex;
  align-self: center;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  padding: 4px 0px;
  margin-bottom: 3px;
}
.daggerheart .ability {
  padding: 0.25rem 0px;
}
.daggerheart .bio-wrap {
  padding: 0px 1em 0.5em 1em;
  background: linear-gradient(180deg, rgb(27, 26, 26) 0%, rgb(27, 26, 26) 50%, rgb(42, 43, 46) 100%);
  border: 2px solid #F1C770;
  color: white;
}
.daggerheart .hitpoints {
  display: grid;
  grid: 1fr 1fr/1fr 1fr 1fr;
  gap: 0.25rem;
  justify-items: center;
  align-items: center;
  margin-bottom: 1em;
  padding: 0em 0.5em;
  padding-bottom: 0.5em;
  color: white;
  background: linear-gradient(180deg, rgb(27, 26, 26) 0%, rgb(27, 26, 26) 50%, rgb(42, 43, 46) 100%);
}
.daggerheart .hope {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin: 0.5rem 0px;
}
.daggerheart .health-stress {
  display: grid;
  grid: 1fr/1fr 1fr 1fr;
  gap: 0.25em;
  margin: 0.25em 0;
}
.daggerheart .health-stress .take-two {
  grid-column: span 2;
}
.daggerheart .meta {
  display: grid;
  grid: 1fr/1fr 1fr;
  width: 100%;
}
.daggerheart .domain {
  background-color: #fff;
  padding: 0.25rem;
  margin: 0.25rem 0;
}
.daggerheart .tier-description {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.daggerheart .card.panel {
  margin: 0.5em 0.25em;
}
.daggerheart .card-header,
.daggerheart .panel-header {
  display: flex;
}
.daggerheart .card-name,
.daggerheart .panel-name {
  font-size: 16px;
  font-weight: bold;
  padding: 0.25rem;
  padding-left: 8px;
  border-bottom: 1px solid black;
  text-transform: capitalize;
}
.daggerheart .card-type,
.daggerheart .panel-type {
  background-color: #f43f5e;
  color: #fff;
  padding: 0.25rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.daggerheart .card-recall,
.daggerheart .panel-recall {
  background-color: black;
  color: #fff;
  padding: 0.25rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.daggerheart .card-domain,
.daggerheart .panel-domain {
  background-color: #8b5cf6;
  color: #fff;
  padding: 0.25rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.daggerheart .card-body,
.daggerheart .panel-body {
  font-size: 12px;
  color: #18181b;
  padding: 0.5em;
  padding-left: 8px;
}
.daggerheart .card-options,
.daggerheart .panel-options {
  display: flex;
  justify-content: space-between;
}
.daggerheart .card-delete,
.daggerheart .panel-delete {
  color: #f43f5e;
  cursor: pointer;
}
.daggerheart .card-activate,
.daggerheart .panel-activate {
  cursor: pointer;
  border: 1px solid #3f6212;
  color: #3f6212;
  transition: 0.2s;
  padding: 0.25rem;
  text-transform: uppercase;
}
.daggerheart .card-activate:hover,
.daggerheart .panel-activate:hover {
  color: #fff;
  background-color: #3f6212;
}
.daggerheart .card-activate.danger,
.daggerheart .panel-activate.danger {
  border: 1px solid #f43f5e;
  color: #f43f5e;
}
.daggerheart .card-activate.danger:hover,
.daggerheart .panel-activate.danger:hover {
  color: #fff;
  background-color: #f43f5e;
}
.daggerheart .window-content {
  background: none !important;
  padding: 0.25rem !important;
  background-color: #d9d9d9 !important;
}
.daggerheart .cards-vault h2 {
  display: flex;
  justify-content: space-between;
}
.daggerheart .section-header {
  display: flex;
  align-items: center;
  background: #222;
  text-align: center;
  color: #fff;
  justify-content: space-between;
  padding: 0.5em 0.5em;
}
.daggerheart .section-header h2 {
  flex-grow: 1;
  text-decoration: none;
  border: none;
  margin: 0;
}
.daggerheart label {
  font-size: 12px;
  font-weight: bold;
  margin: 0.25em 0em;
  display: block;
}
.daggerheart .combat-stat {
  display: grid;
  grid: 1fr/1fr 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 0.25em;
}
.daggerheart .combat-stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.daggerheart .combat-stat-item label {
  flex-basis: 50%;
}
.daggerheart .generic-card {
  display: grid;
  grid: 1fr/1fr 2fr;
  margin: 0.5em 0;
}
.daggerheart .traits-tab .trait {
  background-color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}
.daggerheart .traits-tab .trait-feature {
  font-size: 12px;
  flex-grow: 1;
  height: 70px;
  overflow: auto;
}
.daggerheart .traits-tab .trait-options {
  display: flex;
  justify-content: end;
  margin-top: 0.2em;
}
.daggerheart .traits-tab .delete-trait {
  color: #f43f5e;
}
.daggerheart .traits-tab .trait-name {
  border-bottom: 2px solid #334155;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.daggerheart .traits-tab .trait-name-value {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  gap: 0.5em;
}
.daggerheart .traits-tab .trait-name-label {
  background-color: #eab308;
  color: white;
  padding: 0.25em;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 100;
}
.daggerheart .meta-domains-list {
  display: flex;
  gap: 0.25em;
  margin-top: 0.7em;
}
.daggerheart .meta-domains-list .meta-domain {
  background-color: #f43f5e;
  padding: 0.4em;
  text-transform: uppercase;
  color: white;
}
.daggerheart .char-sheet .editor-wrap {
  width: 100%;
}
.daggerheart .char-sheet.questions-connections {
  display: grid;
  gap: 0.5em;
}
.daggerheart .char-sheet.looks-description {
  display: grid;
  grid: 1fr/1fr 2fr;
  gap: 0.5em;
  margin: 0.5em 0;
}
.daggerheart .money,
.daggerheart .combat-stat {
  background: #362178;
  display: flex;
  padding: 0.5em;
  margin: 0.5em 0em;
  color: white;
  gap: 1em;
  text-align: center;
}
.daggerheart .section-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  background: linear-gradient(180deg, rgb(27, 26, 26) 0%, rgb(27, 26, 26) 50%, rgb(42, 43, 46) 100%);
  border: 2px solid #F1C770;
  color: white;
  padding: 0.25em 1em;
  text-align: center;
  align-items: center;
}

.winner {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  background: linear-gradient(180deg, rgb(27, 26, 26) 0%, rgb(27, 26, 26) 50%, rgb(42, 43, 46) 100%);
  color: white;
  padding: 0.25em;
  font-family: "Oswald", sans-serif;
}

.show-result {
  text-transform: uppercase;
  padding: 0.25em;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
}

.action-type {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  background: white;
  padding: 0.25em;
}

.weapon-roll-type {
  background: none;
}

.attack-roll-traits {
  text-align: center;
  margin-top: -5px;
  text-transform: uppercase;
}

.daggerheart-roll-header {
  display: grid;
  width: 100%;
  grid: 1fr/2fr 1fr;
}

.daggerheart-dice-roll {
  font-family: "Oswald", sans-serif;
  display: grid;
  grid: 1fr/1fr;
  align-items: center;
  justify-items: center;
  margin: 0px auto;
  text-align: center;
}
.daggerheart-dice-roll .normal-dice-roll {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.daggerheart-dice-roll .hope-roll {
  background-color: #e4e4e7;
  color: #18181b;
}
.daggerheart-dice-roll .fear-roll {
  color: #e4e4e7;
  background-color: #18181b;
}
.daggerheart-dice-roll .hope-roll,
.daggerheart-dice-roll .fear-roll {
  font-size: 2em;
  font-weight: 900;
}
.daggerheart-dice-roll .total-roll {
  font-size: 3em;
  font-weight: 900;
}

.hope-result {
  border-radius: 100% !important;
  
}

.fear-result {
  border-radius: 100% !important;
  
}

.dialog-input-group {
  margin-bottom: 0.5em;
}
.dialog-input-group .dialog-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dialog-input-group .dialog-input .dialog-input-name {
  flex-grow: 1;
  font-weight: bold;
}
.dialog-input-group .dialog-input .dialog-input-mod {
  background: #f43f5e !important;
  padding: 0.25em;
  width: 8%;
  text-align: center;
  color: white;
  font-weight: bold;
}

/*# sourceMappingURL=daggerheart.css.map */

/* WOJO Test */
.duality-dice-msg-container {
  display: flex;
  width: 100%;
}

.duality-dice-msg-die-spacer {
  flex-grow: 1;
}

.duality-dice-msg-die-fear{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-image: url("/systems/daggerheart/assets/svgs/d12-solid-fear.svg");
}

.duality-dice-msg-die-hope {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-image: url("/systems/daggerheart/assets/svgs/d12-solid-hope.svg");
}

.duality-dice-msg-die-crit-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-image: url("/systems/daggerheart/assets/svgs/d12-solid-crit-success.svg");
}

.duality-dice-msg-die-crit-fail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-image: url("/systems/daggerheart/assets/svgs/d12-solid-crit-fail.svg");
}

.duality-dice-msg-resut-text-fear {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: yellow;
  text-align: center;
  font-weight: bolder;
  font-size: medium;
  text-shadow: 1cm;
  color:rgb(39, 39, 39);
}

.duality-dice-msg-resut-text-hope {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  font-weight: bolder;
  font-size: medium;
  text-shadow: 1cm;
  color: rgb(106, 106, 106);
}

.duality-dice-msg-resut-text-crit-success {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  font-weight: bolder;
  font-size: medium;
  text-shadow: 1cm;
  color: rgb(18, 111, 0);
}

.duality-dice-msg-resut-text-crit-fail {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(112, 0, 0);
  text-align: center;
  font-weight: bolder;
  font-size: medium;
  text-shadow: 1cm;
  color: red;
}


