@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
.text-bold {
  font-size: bold;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.items-center {
  align-items: center;
}

.relative {
  position: relative;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}

.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}

.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}

.daggerheart {
  font-family: "Oswald";
}
.daggerheart .window-content {
  padding: 0;
  background: white;
}
.daggerheart hr {
  border: 1px solid rgba(243, 243, 243, 0.1);
  width: 100%;
  margin: 3px 0px;
  padding: 0px;
}
.daggerheart hr.black {
  border-color: #000;
}
.daggerheart .input {
  background: none;
  font-family: "Oswald";
  gap: 10px;
  line-height: 23px;
  height: 23px;
  padding: 5px;
  border-radius: 3px;
  border: solid 1px #000;
}
.daggerheart .input::placeholder {
  color: rgba(243, 243, 243, 0.5);
}
.daggerheart .input.white {
  color: white;
  border: solid 1px #fff;
}
.daggerheart .input.ability {
  height: 40px;
  font-size: 36px;
  width: 50px;
  height: 40px;
}
.daggerheart .input.center {
  text-align: center;
}
.daggerheart .input.huge {
  height: 36px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.daggerheart .input.w128 {
  width: 128px;
}
.daggerheart .input.number {
  display: flex;
  width: 32px;
  height: 23px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.daggerheart .checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 10px;
  height: 10px;
}
.daggerheart .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.daggerheart .checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: transparent;
  border: 1px solid #fff;
}
.daggerheart .checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.daggerheart .checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}
.daggerheart .checkbox-container input:checked ~ .checkmark {
  background-color: #fff;
}
.daggerheart .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.daggerheart .layout {
  display: grid;
  height: 100%;
  grid-template: "sidebar" 170px "sidebar" 35px "sidebar" 1fr/220px 1fr;
}
.daggerheart .layout .sidebar {
  grid-area: sidebar;
  background-color: #38227b;
  color: #fff;
  align-items: center;
  gap: 5px;
}
.daggerheart .layout .header {
  background-color: #1e184d;
  color: #fff;
}
.daggerheart .button {
  padding: 2px;
}
.daggerheart .button.white {
  border: 1px solid #fff;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
}
.daggerheart .button.white:hover {
  background-color: #fff;
  color: #1B1A1A;
}
.daggerheart .sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}
.daggerheart .sidebar-image {
  text-align: center;
}
.daggerheart .sidebar-image-src {
  border: 1px solid #F3F3F3;
}
.daggerheart .sidebar-level {
  width: 83px;
}
.daggerheart .sidebar-experiences-list {
  max-height: 100px;
  overflow: auto;
}
.daggerheart .header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}
.daggerheart .header-name {
  padding: 2px 0px;
}
.daggerheart .header-title {
  display: flex;
  gap: 5px;
}
.daggerheart .header-title label {
  background-color: #38227b;
  padding: 2px 4px;
}
.daggerheart .navigation-tab {
  padding: 5px;
}
.daggerheart .navigation .navigation-item {
  width: 90px;
  height: 25px;
  border: 1px solid #000;
  color: #000;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s;
}
.daggerheart .navigation .navigation-item:hover {
  text-shadow: none;
  background-color: #000;
  color: #fff;
}
.daggerheart .navigation .navigation-item.active {
  background-color: #38227b;
  border: 1px solid #f3c267;
  color: #f3c267;
}
.daggerheart .content {
  padding: 5px;
}
.daggerheart .inventory-nav .inventory-nav-item {
  width: 100px;
  text-align: center;
  transition: 0.2s;
  font-weight: bold;
  border-bottom: 1px solid transparent;
}
.daggerheart .inventory-nav .inventory-nav-item:hover {
  color: #38227b;
  text-shadow: none;
}
.daggerheart .inventory-nav .inventory-nav-item.active {
  border-bottom: 1px solid #38227b;
}
.daggerheart .inventory-content-normal .character-card {
  background-color: #e0dede;
  padding: 5px;
}
.daggerheart .inventory-content-normal .character-card-feature {
  font-size: 10px;
  letter-spacing: -0.5px;
}
.daggerheart .character-card-header {
  background-color: #F3F3F3;
  padding: 5px;
}
.daggerheart .character-card-header-name {
  text-transform: uppercase;
  font-weight: bolder;
}
.daggerheart .character-card-header-type {
  text-transform: uppercase;
}

/*# sourceMappingURL=daggerheart.css.map */

/* WOJO Test */
.duality-dice-msg-container {
  display: flex;
  width: 100%;
}

.duality-dice-msg-die-spacer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bolder;
  font-size: x-large;
  text-align: top;
  flex-grow: 1;
}

.duality-dice-msg-die-fear{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin: 1%;
  background-image: url("/systems/daggerheart/assets/svgs/d12-solid-fear.svg");
}

.duality-dice-msg-die-hope {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin: 1%;
  background-image: url("/systems/daggerheart/assets/svgs/d12-solid-hope.svg");
}

.duality-dice-msg-die-selected-hope-disadv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin: 1%;
  background-image: url("/systems/daggerheart/assets/svgs/d12-solid-hope.svg");
  border: 1px solid rgb(94, 54, 54);
  background-color: #9e5353;
  border-radius: 25%;
  padding: 1%;
  width: 25px;
  height: 25px;
}

.duality-dice-msg-die-selected-hope-adv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin: 1%;
  background-image: url("/systems/daggerheart/assets/svgs/d12-solid-hope.svg");
  border: 1px solid rgb(50, 86, 53);
  background-color: #4f9150;
  border-radius: 25%;
  padding: 1%;
  width: 25px;
  height: 25px;
}

.duality-dice-msg-die-crit-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin: 1%;
  background-image: url("/systems/daggerheart/assets/svgs/d12-solid-crit-success.svg");
}

.duality-dice-msg-die-crit-fail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin: 1%;
  background-image: url("/systems/daggerheart/assets/svgs/d12-solid-crit-fail.svg");
}

.duality-dice-msg-resut-text-fear {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: yellow;
  text-align: center;
  font-weight: bolder;
  font-size: medium;
  text-shadow: 1cm;
  color:rgb(39, 39, 39);
}

.duality-dice-msg-resut-text-hope {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  font-weight: bolder;
  font-size: medium;
  text-shadow: 1cm;
  color: rgb(106, 106, 106);
}

.duality-dice-msg-resut-text-crit-success {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  font-weight: bolder;
  font-size: medium;
  text-shadow: 1cm;
  color: rgb(18, 111, 0);
}

.duality-dice-msg-resut-text-crit-fail {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(112, 0, 0);
  text-align: center;
  font-weight: bolder;
  font-size: medium;
  text-shadow: 1cm;
  color: red;
}


