.button {
  padding: 2px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid $dark;
  color: $dark;
  &:hover {
    background-color: $dark;
    color: $hyper-white;
  }

  &.white {
    border: 1px solid $hyper-white;
    color: $hyper-white;
  }

  &.min-width {
    min-width: 40px;
  }

  &.center {
    text-align: center;
  }
}