.duality-dice-msg-container {
  display: flex;
  width: 100%;
}

.duality-die-result-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin: 1%;

  &.die-fear {
    background-image: url("/systems/daggerheart/assets/icons/dice/d12-fear.svg");

    label {
      text-shadow: 1px 1px 1px $dark;
      background: rgb(0 0 0 / 50%);
      color: $hyper-white;
    }
  }

  &.die-adv {
    background-image: url("/systems/daggerheart/assets/icons/dice/d6-adv.svg");
    background-size: contain;
  }

  &.die-disadv{
    background-image: url("/systems/daggerheart/assets/icons/dice/d6-disadv.svg");
    background-size: contain;
  }

  &.die-hope {
    background-image: url("/systems/daggerheart/assets/icons/dice/d12-hope.svg");

    label {
      text-shadow: 1px 1px 1px #fff;
      color: $dark;
    }
  }

  &.die-crit {
    background-image: url("/systems/daggerheart/assets/icons/dice/d12-crit.svg");
  }
}

.duality-die-result {
  text-align: center;
  font-weight: bolder;
  font-size: medium;
  color: $hyper-white;
  text-shadow: 1px 1px 1px $dark;
  margin: 0px auto;
}