.input {
  background: none;
  font-family: "Oswald";
  gap: 10px;
  line-height: 23px;
  height: 23px;
  padding: 5px;
  border-radius: 3px;
  border: solid 1px $black;
  &:focus {
    box-shadow: none;
    border: solid 1px $primary;
  }
  &::placeholder {
    color: transparentize($color: $white, $amount: 0.5);
  }

  &.white {
    color: white;
    border: solid 1px #fff;
  }

  &.ability {
    height: 40px;
    font-size: 36px;
    width: 50px;
    height: 40px;
  }

  &.center {
    text-align: center;
  }

  &.huge {
    height: 36px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &.w128 {
    width: 128px;
  }

  &.number {
    display: flex;
    width: 32px;
    height: 23px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 10px;
  height: 10px;
  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 10px;
    background-color: transparent;
    border: 1px solid $hyper-white;
    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  & input:checked ~ .checkmark {
    background-color: $hyper-white;
  }

  & input:checked ~ .checkmark:after {
    display: block;
  }
}