.gm-sheet {
  .gm-resource {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
  }

  label {
    font-size: 1.5em;
  }

  input {
    width: 100px;
    text-align: center;
    height: 100%;
    font-size: 1.5em;
    position: relative;
  }
  .incremental {
    display: flex;
    align-items: center;
    gap: 0.5em
  }

}