.sheet {
  .item-sheet {
    background-color: $cardBG;
  }
}
.item-wrap {
  padding: 10px;
  .item {
    &-sidebar {
      width: 128px;
    }
  }
}
.class-sheet {
  .editor .editor-content {
    height: 150px;
    overflow-y: auto;
    * {
      margin: 2px 0px;
      font-size: 12px;
      font-family: $font-secondary;
    }
  }
  .class {
    &-wrapper {
      height: 100%;
      display: grid;
      grid: 1fr / 200px 1fr;
    }

    &-sidebar {
      background: $primary;
      color: white;
    }
  }
}