.sheet {
  .item-sheet {
    background-color: $cardBG;
  }
}
.item-wrap {
  padding: 10px;
  .item {
    &-sidebar {
      width: 128px;
    }
  }
}
.class-sheet {
  .class {
    &-wrapper {
      height: 100%;
      display: grid;
      grid: 1fr / 200px 1fr;
    }

    &-sidebar {
      background: $primary;
      color: white;
    }
  }
}