.weapon-form {
  padding: 0.5em;
}

.weapon-input-group {
  margin-bottom: 0.5em;

  &-flex {
    display: flex;
    gap: 1em;
  }
}

.weapon-grid {
  display: grid;
  grid: 1fr / 100px 1fr;
  gap: 0.5em;
}

.weapon-header {
  background-color: white;
  padding: 0.5em;
}

.equipped {
  .weapon-main-ability {
    text-transform: uppercase;
  }
}


.weapon-list-inventory-item {
  margin: 0.5em 0;
}

.weapon-main {
  display: flex;
    gap: 0.5em;
}

.weapon-attributes {
  display: flex;
  align-items: center;
  margin-left: 0.5em;

}
.equipped-wrapper {
  margin-bottom: 0.5em
}

.weapon-main-name {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: bold;
}

.weapon-description {
  * {
    padding: 0.25em;
    margin: 0px;
  }

  color: white;
  background: $dark-gradient;
}

.weapon-main-description {
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  padding-bottom: 0.25em
}

.weapon-main-ability, .weapon-main-damage, .equipped-hit, .equipped-damage {
  font-size: 12px;
  // color: white;
  // background: $dark-gradient;
  text-transform: capitalize;
  padding: 0.5em;
  font-weight: bold;
  border: 1px solid black;
  margin-right: 0.5em;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background-color: black;
    background: $dark-gradient;
    color: white;
  }
}

.weapon-options {
  display: flex;
  gap: 0.25em;
  align-items: center;
}

.weapon-equip, .armor-equip {
  border: 1px solid $green;
  color: $green;

  &:hover {
    color: white;
    background-color: $green;
  }
}

.weapon-unequip, .armor-unequip {
  border: 1px solid $rose;
  color: $rose;

  &:hover {
    color: white;
    background-color: $rose;
  }
}

.equipped-main {
  display: flex;
  align-items: center;
}

.equipped-img img {
  height: 30px;
  margin-right: 0.5em;
  background: $dark-gradient
}

.equipped-feature {
  background: $tabactive;
  padding: 0.25em;
  padding-left: 0.5em;
  font-size:12px;
  font-weight: 300;
  color: white;
  p {
    display: inline;
  }
}

.weapon-equip,
.weapon-unequip, .armor-equip, .armor-unequip {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.25em 0.5em;
  transition: background-color 0.2s;
  cursor: pointer;
  text-align: center;
  margin: 0px 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0.5em;

  &:hover {
    text-shadow: none;
  }
}

.equipped {
  &-name {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 18px;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  background-color: white;
}
