$primary: #38227b;
$secondary: #1e184d;
$secondary-alt: #0A0F21;
$border: #f3c267;
$hyper-white: #fff;
$white: #F3F3F3;
$black: #000;
$darkred: #7f1d1d;
$gray: #e0dede;
$danger: #ef4444;
$success: #22c55e;
$dark: #1B1A1A;