.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 0;
}

.items-center {
  align-items: center;
}

.relative {
  position: relative;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.w {
  &-100 {
    width: 100%
  }
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.self-stretch {
  align-self: stretch;
  display: flex;
  align-items: center;
}