.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.items-center {
  align-items: center;
}
.relative {
  position: relative;
}
.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.w {
  &-100 {
    width: 100%
  }
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}