.text-center {
  text-align: center;
}
.gap {
  &-5 {
    gap: 5px;
  }

  &-10 {
    gap: 10px
  }

  &-15 {
    gap: 15px;
  }
}

.mb {
  &-5 {
    margin-bottom: 5px;
  }
  &-10 {
    margin-bottom: 10px;
  }
  &-15 {
    margin-bottom: 15px;
  }
}

.mt {
  &-5 {
    margin-top: 5px;
  }
  &-10 {
    margin-top: 10px;
  }
  &-15 {
    margin-top: 15px;
  }
}

