$font-primary: 'Oswald';
$font-secondary:  "Cabin Condensed", sans-serif;

.text-bold {
  font-size: bold;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
  &.strong {
    font-weight: bold;
  }
}