<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  <div class="layout">
    <aside class="sidebar">
      {{> "systems/daggerheart/templates/actor/layout/sidebar.hbs"}}
    </aside>
    <div class="header">
      {{> "systems/daggerheart/templates/actor/layout/header.hbs"}}
    </div>
    <div class="navigation">
      {{> "systems/daggerheart/templates/actor/layout/navigation.hbs"}}
    </div>
    <div class="content">
      {{> "systems/daggerheart/templates/actor/layout/content.hbs"}}
    </div>
  </div>

</form>