<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  <div class="gm-sheet panel-mb">
    <div class="gm-resource">
      <label for="system.fear">Fear Tokens</label>
      <div class="incremental" data-type="fear">
        <i class="fas fa-minus" data-type="fear" data-increment="false"></i>
        <input type="text" name="system.fear" value="{{system.fear}}" />
        <i class="fas fa-plus" data-type="fear" data-increment="true"></i>
      </div>
    </div>
    <div class="gm-resource">
      <label for="system.action">Action Tokens</label>
      <div class="incremental" data-type="action">
        <i class="fas fa-minus" data-type="action" data-increment="false"></i>
        <input type="text" name="system.action" value="{{system.action}}" />
       <i class="fas fa-plus" data-type="action" data-increment="true"></i>
      </div>
    </div>
  </div>

</form>