<div class="daggerheart-ui-hand">
  <form></form>
  <aside class="ui-rolls">
    <div class="hand-roll">
      <label>Roll</label>
      <div class="icon">
        <i class="fas fa-dice-d12 hope-die"></i>
        <i class="fas fa-dice-d12 fear-die"></i>
      </div>
    </div>
    <div class="open-actor-sheet">
      <i class="fas fa-user"></i>
    </div>
  </aside>
  <div class="ui-cards">
    {{#each subclasses as |card id|}}
    {{> "systems/daggerheart/templates/actor/parts/hand-card.hbs" name=card.name feature=card.system.feature
    domain=card.system.cardType img=card.img}}

    {{/each}}

    {{#each domains as |card id|}}
    {{> "systems/daggerheart/templates/actor/parts/hand-card.hbs" name=card.name feature=card.system.feature
    domain=card.system.domain img=card.img}}
    {{/each}}
  </div>
</div>