.enemy-hp input,
.enemy-stress input,
.enemy-hitpoints input {
  width: 50px;
  text-align: center;
}

.enemy-label {
  width: 70px;
  text-transform: uppercase;
  font-size: 16px;
}

.enemy-hp,
.enemy-stress,
.enemy-hitpoints {
  display: grid;
  grid: 1fr / 20% 50px 50px 50px;
  gap: 0.5em;
  align-items: center;
}

.enemy-header {
  display: grid;
  grid: 100px 1fr /100px 1fr;
  gap: 1em;
}

.enemy-header-description {
  grid-row: span 2;
}

.enemy-type {
  select {
    width: 99%;
  }
}

.enemy-name {
  margin-bottom: 0.5em;
}

.enemy-name-input {
  height: 100%;
  font-size: 1.5em;
}

.adversary label {
  font-size: 14px;
}

.adversary h3 {
  font-size: 18px;
}

.enemy-wrap {
  display: grid;
  grid: 1fr / 2fr 3fr;
  gap: 0.5em;

  .enemy-left {
    font-size: 16px;
    text-transform: capitalize;
    label {
      font-size: 16px !important;
    }
  }

  .enemy-right {}
}

.enemy-tactics {
  margin-bottom: 0.5em;
}

.enemy-weapon-stats {
  gap: 0.25em;
}

.feature-item {
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.enemy-experience {
  gap: 0.25em;
  margin-bottom: 0.25em;

  .enemy-experience-name {
    flex-grow: 1
  }
}

.view-mode {
  display: flex;
  gap: 0.5em;
  align-items: center;

}

.enemy-header-split {
  display: grid;
  grid: 1fr / 3fr 1fr;
}

.gm-rolls {
  .roll-button {
    border: 2px solid black;
    padding: 0.5em;
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    background: transparent;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;

    .fa-dice-d20 {
      margin-top: 1px;
      margin-left: 2px;
    }

    &:hover {
      background: $dark-gradient;
      color: white;
    }
  }
}