.leveling-option {
  display: flex;
  align-items: center;
  font-size: 12px;
  background-color: white;
  padding: 0.5em;
}

.leveling-options {
  display: grid;
  grid: 1fr / repeat(2, 1fr);
  gap: 0.5em;
}

.leveling-tier-description {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.leveling-bonus {
  font-size: 10px;
  text-transform: uppercase;
}