<div class="content-body">
  <div class="tab" data-group="primary" data-tab="cards">
    {{> "systems/daggerheart/templates/actor/parts/character-loadout.hbs"}}
  </div>
  <div class="tab" data-group="primary" data-tab="inventory">
    {{> "systems/daggerheart/templates/actor/parts/character-inventory.hbs"}}
  </div>
  <div class="tab" data-group="primary" data-tab="leveling">
    {{> "systems/daggerheart/templates/actor/parts/character-leveling.hbs"}}
  </div>
  <div class="tab" data-group="primary" data-tab="description">
    {{> "systems/daggerheart/templates/actor/parts/character-description.hbs"}}
  </div>
</div>