<div class="navigation-tab flex items-center justify-between" data-group="primary">
  <a class="navigation-item" data-tab="cards">Cards</a>
  <a class="navigation-item" data-tab="inventory">Inventory</a>
  <a class="navigation-item" data-tab="leveling">Leveling</a>
  <a class="navigation-item" data-tab="description">Description</a>
</div>